/* textes */
body {
    font-family: $body-font;
    font-style: normal;
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: $body-line-height;
    background-color: $whiteG;
    color: $black;
    margin: auto;

    @media (max-width: 768px) {
        /* Mobile Variables */
        font-size: $mobile-body-font-size;
        line-height: $mobile-body-line-height;
    }
}

h1 {
    font-family: $header-font;
    font-style: normal;
    font-weight: $header-font-weight;
    font-size: $header-font-size;
    line-height: $header-line-height;
    color: $black;
    margin: 0;

    @media (max-width: 768px) {
        /* Mobile Variables */
        font-size:  $mobile-header-font-size;
        line-height: $mobile-header-line-height;
    }
}

h3, .navBar, button {
    font-family: $title-font;
    font-style: normal;
    font-weight: $title-font-weight;
    font-size: $title-font-size;
    line-height: $title-line-height;
    color: $black;

    @media (max-width: 768px) {
        /* Mobile Variables */
        font-size: $mobile-title-font-size;
        line-height: $mobile-title-line-height;
    }
}

h2, h4{
    font-family: $body-highlight-font;
    font-weight: $body-highlight-font-weight;
    font-size: $body-highlight-font-size;
    line-height: $body-highlight-line-height;
    color: $black;

    @media (max-width: 768px) {
        /* Mobile Variables */
        font-size: $mobile-body-highlight-font-size;
        line-height: $mobile-body-highlight-line-height;
    }
}

address, p, button {
    font-family: $body-font;
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: $body-line-height;

    @media (max-width: 768px) {
        /* Mobile Variables */
        font-size: $mobile-body-font-size;
        line-height: $mobile-body-line-height;
    }
}

b {
    font-weight: 600;
}
strong {
    font-weight: 900;
}

/* underline red  */
h3 {
    text-decoration: underline $redO;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 0.188rem;
}

a:hover {
    color: $redO;
    transition: 0.3s;
}

/* section Yummy Nouilles */
.YummyNouilles {
    height: auto;
    width: 100%;
    margin: 10rem 0;
    background-color: $whiteG;
    @include flexCenter;

    img {
        height: auto;
        width: 24%;
        margin-left: 10.25rem;
    }

    @media (max-width: $mobile-screen) {
        margin: 3rem 0;

        img {
            display: none;
        }
    }
}

.essentielYummy {
    display: flex;
    flex-direction: column;
    justify-content: start;

    @media (max-width: $mobile-screen) {
        @include flexCenter;

        button {
            width: 100%;
        }
    }
}
.yum {
    color: $redO;
}



/* section nos adresses */
.nosAdresses {
    height: auto;
    width: 100%;
    margin: 2rem 0;
    background-color: $whiteG;
    @include flexCenter;
    flex-direction: column;

    h1 {
        margin: 2rem 0;
    }

    @media (max-width: $mobile-screen) {
        text-align: center;

        h1 {
            margin: 0;
        }
    }
}

.YummyNoddle {
        margin-right: 7rem;

        @media (max-width: $mobile-screen) {
            margin: 1rem 0;
        }
}

.YuNoodleMy {
    @media (max-width: $mobile-screen) {
        margin: 1rem 0;
    }
}

.LesYummyNouilles {
        margin-left: 7rem;

        @media (max-width: $mobile-screen) {
            margin: 1rem 0;
        }
}

.adresses {
    display: flex;

    @media (max-width: $mobile-screen) {
        flex-direction: column;
    }

    img {
        width: 100%;
        max-width: 304px;
        height: auto;
    }

    h4, p, address {
        font-style: normal;
        margin: 0;
    }
}


/* section notre savoir faire */
.savoirFaire {
    height: auto;
    width: 100%;
    margin: 1rem 0;
    background-color: $whiteG;
    @include flexCenter;
    flex-direction: column;
    text-align: justify;

    p {
        margin: 0 8.75rem;
    }
}


/* section retrouvez-nous sur les réseaux sociaux */
.postsReseaux {
    height: auto;
    width: 100%;
    margin: 2rem 0;
    background-color: $whiteG;
    @include flexCenter;
    flex-direction: column;
}
.posts {
    display: grid;
    grid-template-columns: 15.5rem 15.5rem 15.5rem;
    grid-template-rows: 15.5rem 15.5rem;
    gap: 4.313rem;

    @media (max-width: $mobile-screen) {
        display: flex;
        flex-direction: column;
        
    }
}



/* menu */
.menu {
    width: 100%;
    height: auto;
    background-color: $whiteG;
    display: flex;
    flex-direction: column;

    .h1 {
        margin: 3.125rem 0 1.25rem 10rem;
    }

    h2 {
        margin-top: 0;
    }

    @media (max-width: $mobile-screen) {
        h1 {
            text-align: center;
            margin: 0 0 3rem 0;
        }
        
        h2 {
            display: none;
        }
    }
}


/* carte */
.carte {
    background-color: $white;
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    img {
        margin-top: 4.188rem;
    }

    p {
        margin-top: 1.625rem;
    }

    h4 {
        margin-top: 3.25;
    }

    @media (max-width: $mobile-screen) {
        img {
            width: 40%;
            margin-top: 0.8rem;
        }
        p {
            display: none;
        }
    }
}
