/* header nav */
.navBar {
    height: 10vw;
    background-color: $whiteG;
    display: flex;
    align-items: center;

    img {
        margin: 0 2rem 0 3rem;
        height: 60%;
    }

    a {
        color: $black;
        text-decoration: none;
        margin:  0.3rem;
    }

    .actualPage {
        text-decoration: underline $redO;
        text-underline-offset: 0.25rem;
        text-decoration-thickness: 0.188rem;
    }
}


/* click & collect */
.clickCollect {
    width: 14vw;
    height: 5vw;
    background-color: $black;
    color: $white;
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        transition: 0.3s;
    }
}


/* CTA-Banner */
.CTA-Banner {
    height: 15vw;
    background-color: $redO;
    @include flexCenter;
    flex-direction: column;

    .clickCollect {
        margin-bottom: 1.375rem;
    }
}

.commanderTexte {
    color:$white;
}


/* section contactez nous */
.contactezNous {
    height: 15vw;
    background-color: $whiteG;
    @include flexCenter;
    flex-direction: column;

    p {
        margin-top: 0;
    }
}

/* footer */
footer {
    height: 10vw;
    background-color: $black;
    @include flexCenter;

    img {
        margin: 1.563rem;
    }
}